<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HiMarket - Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>

  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey"><b>Hi</b>Market<br>Login</h3>
            <% if(userOrPassInvalid) { %>
            <div class="notification is-danger">
              <p>ERRO: Email ou senha inválidos.</p>
            </div>
            <% } %>
            <div class="box">
              <form method="POST">
                <div class="field">
                  <div class="control">
                    <input
                      name="email"
                      name="text"
                      class="input is-large"
                      placeholder="Seu email"
                      autofocus=""
                    />
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input
                      name="password"
                      class="input is-large"
                      type="password"
                      placeholder="Sua senha"
                    />
                  </div>
                </div>
                <button
                  type="submit"
                  class="button is-block is-link is-large is-fullwidth"
                >
                  Entrar
                </button>
              </form>
              <a href="/cadastrar">Clique aqui para se cadastrar</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
